#change-language .language-change-object {
    float: none !important;
    height: 20px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 330px;
}

#change-language .language-change-object .Language {
    display: inline;
    float: left;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 14px !important;
    
}

#change-language .language-change-object span, #change-language .language-change-object .Language a {
	color: #006699 !important;
    font-weight: bold;
    line-height: 16px !important;
}

#change-language .language-change-object img{
	margin-right: 3px;
    vertical-align: middle;
}

.microprofile-flag
{
	cursor: pointer;
}

.feedbackStatic
{

        height:213px;
        right: 0;
        position:fixed;
        top:350px;
        width:40px;
}